.parallaxContact {
    background-image: url('../img/goldencontact_opt.png');
    /* Full height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactus {
    position: absolute;
    top: 60px;
    right: 0;
}

.imgcred {
    position: absolute;
    top: 95vh;
    left: 10px;
}

.bar {
    position: sticky;
    position: absolute;
    top: 0px;
    height: 60px;
}

#location iframe{
    height: 50vh;
}