.parallax {
    background-image: url('../img/catdog_opt.jpg');
    height: 80vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


.imgcred {
    position: absolute;
    top: 75vh;
    left: 10px;
}